@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  color: white;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-[#0f172a];
}

code {
  background-color: gray;
  border-radius: 5px;
  padding: 3px 5px;
}

main {
  max-width: 780px;
  margin: auto;
}
