@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-width: 780px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  color: white;
}

::-moz-selection,
::selection {
  color: #0f172a;
  background: white;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 18px;
  @apply bg-night;
}

code {
  background-color: gray;
  border-radius: 5px;
  padding: 3px 5px;
}

main {
  max-width: var(--page-width);
  margin: auto;
}

header {
  max-width: var(--page-width);
  height: auto;
  margin: auto;
}

footer {
  max-width: var(--page-width);
  height: auto;
  margin: auto;
}

button:focus {
  outline: none;
}

.grad-correct {
  @apply bg-gradient-to-tr from-[#d4fc79] to-[#96e6a1];
}

.grad-wrong {
  @apply bg-gradient-to-tr from-[#f093fb] to-[#f5576c];
}

.grad-hover {
  @apply bg-gradient-to-tr from-[#84fab0] to-[#8fd3f4];
}
